body {
   }
#header {float: left; width: 100%; }
#header { min-width: 960px;}   
#menu{  width: 960px; margin: 0 auto; background-color:#F8F8FF;padding:5px 5px 5px 5px}
.zf-green {
    color: #68b604;
}
#infoPerfil{
	float:right;
	color:blue;
	padding-top:3px;
}
#content { float: left; width: 100%;  }
#content { min-width: 960px;}
#conteudo{
	width: 970px; margin: 0 auto; margin-top:5px;
}
#menuLeft{
	width:230px;background-color:#F8F8FF;float:left;
}
#contentController{
	float:left;background-color:#F8F8FF;width:725px;margin-left:5px;padding:5px 5px 5px 5px
}
.btn-success {
  background-color: #57a900;
  background-image: -moz-linear-gradient(top, #70d900, #57a900);
  background-image: -ms-linear-gradient(top, #70d900, #57a900);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#70d900), to(#57a900));
  background-image: -webkit-linear-gradient(top, #70d900, #57a900);
  background-image: -o-linear-gradient(top, #70d900, #57a900);
  background-image: linear-gradient(top, #70d900, #57a900);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#70d900', endColorstr='#57a900', GradientType=0);
}

.btn-success:hover,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled] {
  background-color: #57a900;
}

.btn-success:active, .btn-success.active {
  background-color: #57a900;
}
